
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 10px;
    background-color: #c0e0fa;
}

.logo img{
    width: 115px;
    height: 39px;
    box-shadow: 0px 0px 12px rgba(65, 105, 255, 0.7);
    border: none;
    border-radius: 0;
}


h5 {
    text-align: center;
    color: #041d49;
    font-size: 1.5em;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2{
    color:#759fe3;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #24323d;
    color:white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.first_column, .second_column {
    
    padding: 20px;
    box-sizing: border-box;
}

.first_column {
    border-right: 2px solid #ddd; 
    padding-right: 40px;
    width: 30%;
}

.second_column {
    padding-left: 10px;
    margin-right: 35px; 
    width: 60%;
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a{
    color: white;
    text-decoration: none;
}
/* button {
    margin-left: 470px;
    width: 25%;
    padding: 10px;
    background-color: #4f7dc8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a3bff0;
    color:#021728;
    transition: 0.3s;
} */

.table-box
{
    margin-top: 20px auto;
    padding: 5px;
}

.table-row{
    display: table;
    width: 100%;
    margin: 10px auto;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 15px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #4f7dc8;
    box-shadow: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    color: white;
    /* border-right: 1px solid #d6d4d4; */
    vertical-align: middle;
}

.icon-link {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
}

.icon-button {
    background: none;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem;
}

.icon-link:hover, .icon-button:hover {
    color: #007bff;
}

.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}

footer {
    background-color: #24323d;
    color: white;
    padding: 20px;
    text-align: center;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer .footer-links {
    margin-top: 10px;
  }
  
  footer .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer .footer-links a:hover {
    text-decoration: underline;
  }
