


  @import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #c0e0fa;
    padding-top: 100px; 
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo img {
    width: 115px;
    height: 39px;
    box-shadow: 0px 0px 12px rgba(65, 105, 255, 0.7);
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%;
    background: #24323d;
    padding: 25px;
    border-radius: 20px;
   
    margin-bottom: 3rem;
}

.title {
    font-size: 28px;
    color: #759fe3;
    font-weight: 600;
    text-align: center;
}

.message,
.signin {
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.signin a {
    color: #759fe3;
    text-decoration: none;
    transition: 0.3s;
}

.signin a:hover {
    color: #adccfd;
}


.form-group {
    display: flex;
    gap: 10px;
}

.form label {
    position: relative;
    display: block;
}


.form label input {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    border: none;
    border-radius: 10px;
    background: #fff;
}


.form label input + span {
    position: absolute;
    left: 15px;
    top: 12px;
    color: #24323d;
    font-size: 0.9em;
    transition: 0.3s ease;
    pointer-events: none;
}

.form label input:focus + span,
.form label input:valid + span {
    top: -8px;
    font-size: 0.7em;
    font-weight: 600;
    color: #0452ab;
}


.form label .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #24323d;
    cursor: pointer;
    z-index: 9;
}


label[for="isRecruiter"], .form input[type="checkbox"] {
    cursor: pointer;
}


.submit {
    border: none;
    background: #4f7dc8;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit:hover {
    background: #a3bff0;
    color: #021728;
}


footer {
    background-color: #24323d;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    margin-bottom: 10px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}
